@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

body{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

h1{
    /* background-color: black; */
    padding: 1rem;
    border: 3px solid white;
    max-width: 50%;
    margin: auto;
    border-radius: 5px;
    color: aqua;
    padding: 2rem;

}

label{
    display: block;
    padding-top: 1rem;
    padding-top: 1.25rem;
   align-items: center;
   margin: auto;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    border-color: rgb(30, 209, 30);
    
}

button{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border-width: 0.12rem;
    border-color: aliceblue;
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(30, 209, 30);
    font-family: 'Raleway', sans-serif;
}

#output-box{

    /* background-color: blueviolet; */
    padding: 1rem;
    /* border: 3px solid white; */
    border-radius: 5px;

}